<footer>
    <div class="byline-container">
        <h5 class="byline">Copyright <%= new Date().getFullYear() %> <a href="http://tylerelk.github.io/tylewis" target="_blank">Ty Lewis</a></h5>
    </div>
</footer>
<script src="script.js"></script>
</body>
</html>